@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');

body{
    background-color: black	;
    }

.navbar-personal{
    position: fixed;
    top: 0;
    z-index: 1000;
    display: flex;
    justify-content: end;
    background-color: red;
    background-image: url(./images/fondoPortafolio.png);
    background-position: bottom;
    width: 100%;
    padding: 0;
}
.menu{
    display: flex;
    align-items: center;
    margin: 0%;
    padding: 0%;
    list-style: none;
}

.menu li{
    padding: 1rem 1rem;
}

.menu a{
    font-family: "Anton", sans-serif;
    font-weight: 400;
    font-style: normal;
    text-decoration: none;
    color: #F5D4A7;
}

.menu a img{
    align-items: center;
    width: 20px;
    height: 20px;
    transform: scale(1.5);
}
.presentation{
    display: flex;
    justify-content: flex-start;
    padding: 10%;
}

.presentation-contenido{
    max-width: 34rem;
}

.presentation-titulo{
    width: auto;
    height: auto;
    display: flex;
    align-items:center;
    gap: 1rem;
}

.presentation-titulo img{
    object-fit: cover; 
    border-radius: 50%;
    width: 4rem;
    height: 4rem;
}


h1{
    font-family: "Anton", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 4rem;
    background-image: url(./images/fondoPortafolio.png);
    background-size: cover;
    color: transparent;
    background-clip: text;
    padding: 0%;
    margin: 0%;
}

h2{
    font-family: "Anton", sans-serif;
    padding: 0%;
    margin: 0%;
    font-size: 3rem;
}

.presentation-footer{
    display: flex;
    justify-content: right;
    margin: 3% 0%;
    gap: 2rem;
}

.presentation-footer a{
    font-family: "Inter", sans-serif;
    font-style: normal;
    font-size: 1rem;
    color: #FFFFFF;
    text-decoration: none;
    background-color: #1C1D58	;
    ;
    padding: 0.7rem 1.5rem ;
    border-radius: 20px;
}

.presentation-footer a:hover{
    background-color:  #1E90FF;
}


#Proyectos{
    padding: 10%;
    background-color: #090909;
}

h3{
    font-family: "Anton", sans-serif;
    font-style: normal;
    font-size: 1.5rem;
    color: #3a506b;
}

.col-md-6{
    padding: 10px 10%;
}

.card{
    font-family: "Anton", sans-serif;
    background-color: black;
    color: #F5D4A7;
    border: none;
    box-shadow: 0 4px 10px rgba(132, 15, 15, 0.1);
    padding: 5%;

}

.card img{
    display: block;
    max-width: 100%; 
}

.card p{
    font-family: "Inter", sans-serif;
    font-size: 1rem;
    display: block;
    max-width: 100%;
    padding: 5% 0 0;
}

.card a{
    background-color: #1C1D58;
    border: #1C1D58;
}

#sobre-mi{
    position: relative;
    padding: 10%;
    width: 100%;
    background-image: url(./images/ciudad.png);
    background-repeat: no-repeat;
    background-size: cover;
}

.sobre-mi-contenedor{
    padding: 5% 30%;
    display: flex;
    align-items: center;
    gap: 1rem;
}

.sobre-mi-contenedor img{
    width: 20%;
    border-radius: 40px;
}

.projector-light {
    left: 0;
    position: absolute;
    transform-origin: center left;
    width: 80%;
    height: 50%;
    background: radial-gradient(circle at center left, rgba(255, 255, 255, 0.2), transparent 60%);
    clip-path: polygon(0 54%, 100% 100%, 100% 0);
    animation: rotate-light 6s infinite ease-in;
    pointer-events: none;
    z-index: 1;
  }

  @keyframes rotate-light {
    0% { transform: rotate(3deg); }
    50% { transform: rotate(-8deg); }
    100% { transform: rotate(3deg); }
  }

.texto-oculto {

    color: wheat;
}

#habilidades{
    padding: 10%;
}

.lista-habilidades{
    display: flex;
    justify-content: center;
    margin: 0%;
    padding: 3%;
    gap: 5%;
}

.lista-habilidades li{
    color: #FFFFFF;
    list-style-type: none;
    padding: 1rem 1.5rem;
    background-color: #1C1D58;
    border-radius: 20px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

#contactame{
    padding: 10%;
    background-color: #090909;
}

.contactame-form{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding: 5%;
    gap: 1rem;
}

.contactame-form h4{
    margin: 0%;
    padding: 0%;
    font-family: "Inter", sans-serif;
    font-size: 1rem;
    color: #F5D4A7;
}

.contactame-form input{
    padding: 1rem;
    border: none;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    border-radius: 20px;
}

input[type=number] {
    -moz-appearance: textfield; /* Firefox */
}
input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;  /* Chrome, Safari, Edge */
    margin: 0;
}

.contactame-form button{
    width: 15%;
    padding: 0.5rem 0.2rem;
    display: flex;
    justify-content: center;
    background-color: #1C1D58;
    color: #FFFFFF;
    border: none;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    border-radius: 20px;
}

.final-pagina{
    background-image: url(./images/fondoPortafolio.png);
    background-position: bottom;
    box-shadow: 0 -4px 10px rgba(0, 0, 0, 0.1);
}

.lista-final{
    display: flex;
    justify-content: center;
    gap: 1.5rem;
    padding: 0%;
    margin: 0%;
}

.lista-final li{
    list-style-type: none;
    padding: 0.5rem;
}