@import url('https://fonts.googleapis.com/css2?family=Cormorant:ital,wght@0,300..700;1,300..700&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');


.navbar{
    display: flex;
    justify-content: end;
}

.menu{
    display: flex;
    list-style-type: none;
}

.menu li{
    padding: 0 1rem;
}

.menu a{
    white-space: nowrap;
    text-decoration: none;
    color: #244370;
}